html{
    box-sizing: border-box;
    background-color: rgb(232, 241, 255);
    font-family: "Karla", sans-serif;
    font-weight: 400;
}

body{
    padding:20px;
}

*, *:before, *:after{
    box-sizing: inherit;
}

h2, h4, p{
    margin:0; 
}

.container{
    width: 800px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 5px 2px 5px 0px rgba(0,0,0,0.33);
    display: block;
    margin:auto;
    overflow: hidden;
    
}

.top-section, .bottom-left-section, .bottom-right-section{
    padding:20px;
}

.top-section{
    background-color: white;
    height:45%;
    border-radius: 5px 5px 0px 0px;
}

.bottom-section{
    height:55%;
    color:white;
}

.bottom-left-section{
    background-color: rgb(42, 178, 175);
    display: inline-block;
    width:50%;
    height:100%;
    border-radius: 0px 0px 0px 5px;
    vertical-align: top;
}

.bottom-right-section{
    background-color: rgb(62, 209, 206);
    display: inline-block;
    width:50%;
    height:100%;
    border-radius: 0px 0px 5px 0px;
}

#top-section-text-1{
    color:rgb(42, 178, 175);
    margin: 0px 0px 10px 0px;
}

#top-section-text-2{
    color:rgb(192, 223, 52);
    margin-bottom: 30px;
}

#top-section-text-3{
    color:rgb(147, 153, 157);
}

#bottom-section-text-1{
    margin: 0px 0px 20px 0px;
}

#price_per_month{
    position: relative;
}

#price{
    display: inline-block;
    font-weight: 700;
    font-size: 35px;
    margin: 10px 0px 10px 0px;
}

#time{
    display: inline-block;
    position: absolute;
    top: 20px;
    margin-left: 12px;
    opacity: 80%;
}

#bottom-section-text-2{
    margin: 0px 0px 60px 0px;
}

button{
    padding: 10px 20px 10px 20px;
    width:100%;
    background-color: rgb(192, 223, 52);
    border:none;
    color:white;
    font-weight:700;
    font-size: 15px;
    border-radius: 5px;
}

button:hover{
    background-color:rgb(201, 233, 56);
    cursor:pointer;
    transform: scale(1.03)
}

#bottom-right-list{
    list-style-type: none;
    opacity: 0.85;
    font-size: 0.9rem;
}

ul{
    padding: 0;
}

li{
    margin: 5px 0px 0px 0px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}

@media(max-width:800px){
    .container{
        width: 650px;
        margin: 0px;
    }
}

@media(max-width: 650px){
    .bottom-left-section, .bottom-right-section, .container{
        width:100%;
        height: auto;
        margin: auto;
    }   

    .bottom-left-section{
        border-radius: 0px;
    }
}

